.note-list-title {
  text-align: center;
}

.note-list {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.note {
  width: 48%;
  border: 1px solid var(--color-primary);
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  padding-bottom: 27px;
  box-shadow: 0 3px 3px 0 rgba(0 0 0 / 50%);
}

.note-title {
  padding: 10px;
  margin: 0;
  background-color: var(--color-primary);
  color: var(--color-white);
  line-height: 1;
  text-shadow: 0 0 2px rgba(0 0 0 / 80%);
}

.note-text {
  padding: 10px;
  margin: 0;
  font-size: 18px;
}

.note-title:hover {
  opacity: 0.8;
}

.note-text:hover {
  opacity: 0.6;
}

.note-actions {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: calc(100% + 2px);
  transform: translate(-1px, 1px);
}

.note-actions button {
  flex-grow: 1;
  border-radius: 0;
}

@media (min-width: 769px) {
  .note-list {
    flex-flow: row wrap;
    list-style: none;
    justify-content: center;
  }

  .note {
    width: 250px;
    margin: 10px;
  }
}
